:root {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  --spacing-margin:45px;
}

*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

header {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 500px;
    min-height:fit-content;
}

.container{
    /* margin: 50px 0px 0px 60px; */
    padding: 50px 0px 0px 60px;
}


h1 {
    color: aliceblue;
    /* background-color: hsl(208, 33%, 51%); */
    width: 100%;
    max-width: 18em;
    font-size: 3.5rem;
    padding: min(0.5em, 16%) min(0.5em, 16%) min(0.5em, 16%) 0;
    margin: var(--spacing-margin);
}

p {
    color: hsl(210, 3%, 71%);
    font-size: 2rem;
    width: 100%;
    max-width: 50rem;
    margin-bottom: 15px;
}

button {
    font-size: 1rem;
    background-color: hsla(208, 100%, 91%, 0.59);
    color: black;
    padding: 0.5em ;
    width: 15rem;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    transition: 0.3s ease;
}

button:hover{
  color: aliceblue;
  cursor: pointer;
  background-color: #424a76;
}



@media (max-width: 800px){

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.3rem
  }

  button {
   width: 7.5rem;
  }
}
