:root{
    --ff:"Rubik", sans-serif;
    --ff-sub-hero: "Merriweather", serif;
    /* card */
    --shadow-card: 2px 5px 10px 1px hsl(134 8% 29%);
    --shadow-card-hover: 2px 8px 15px 1px hsl(134 8% 29%);
    --background-color:#FBFBFB;
    --background-colo-btn:hsl(41, 28%, 52%);
    /* Spacing element */
    --spacing-margin: 2em;
    --spacing-padding: min(2em, 20%);
    --spacing-padding-button: 2em;
    --trasnsition:0.5s;
}


section{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    padding: var(--spacing-padding);
    margin: var(--spacing-margin);
    background-color: var(--background-color);
    box-shadow: var(--shadow-card);
    transition: var(--trasnsition);
    overflow: hidden;
}

h1 {
    font-family: var(--ff);
    font-size: 2rem;
}

p {
    font-size: var(--ff-sub-hero);
}

button {
    width: 100px;
    border: transparent;
    border-radius: 20px;
    background-color: var(--background-colo-btn);
    padding: calc(var(--spacing-padding-button) / 4);
    margin:  var(--spacing-margin) calc(var(--spacing-margin) / 6);
}



.card:hover {
   transform:translateY(-15px);
   box-shadow: var(--shadow-card-hover) ;
}
