h1 {
  text-align: center;
  margin-bottom: 100px;
}


section {
  background-color: bisque;
  border: none;
  width: 90%;
  height: 1000px;
  display: flex;
  /* Flex-directon */
  /* flex-direction: column-reverse; */

  /* justify-content:flex-end; */
  /* justify-content:space-around ; */

}


div {
  width: 100px;
  height: 100px;
  /* order: 5; */
  /* flex-grow: 1; */
}