body {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    border-bottom: 4px solid red;
    padding-bottom: 5px;
    text-align: center;
}

.uniq {
    color: blue;
    background-color: antiquewhite;
    font-weight: 700;
    letter-spacing: 5px;
}

ol, ul {
    font-size: larger;
    list-style-type: space-counter;
}

.div p {
    font-size: 400;
    font-variant: small-caps;
}

.h1 p i, u, b {
    color: red;
}
